<div id="body">
  <div class="container" id="container">

    <div class="form-container sign-in-container">
      <form autocomplete="off" (submit)="loginUser($event)">
        <h4 class="mb-4">Enter Email</h4>

        <div class="mb-4">
          <label for="username">
            Email
          </label>
          <input type="email" id="email" class="form-control w-100" placeholder="doe@mail.com" required />
        </div>

        <button class="btn btn-primary" type="submit">
          <!-- <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> -->
          Submit
        </button>
      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay">

        <div class="overlay-panel overlay-right">
          <h4>Hello, Friend!</h4>
          <p>Enter your Email to reset your password.This should be the email you registered your account with.</p>
          <button class="btn btn-primary" routerLink="/auth">Go Back</button>
        </div>
      </div>
    </div>
  </div>
</div>
