<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-warning alert-dismissible fade show mt-4" role="alert">
          <strong>Note</strong> Drafts Cant be recovered if deleted
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-12">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
              <a href="#" routerLink="/draft-post">Draft Post</a> </li>
          </ol>
        </nav>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-striped table-responsive-sm">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Title</th>
              <th scope="col">Category</th>
              <th scope="col">Tags</th>
              <th scope="col">Drafter Status</th>
              <th scope="col">Admin Status</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>First Post</td>
              <td>Statis</td>
              <td>Test</td>
              <td>In Progress</td>
              <td>Not Published</td>
              <td>
                <button class="btn btn-info">Edit</button>
                <button class="btn btn-primary mx-2">Preview</button>
                <button class="btn btn-danger">Delete</button>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
