<!-- <section class="mt-5 mb-5" id="category">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center mb-5">
        <h3>Categories</h3>
        <hr class="hori" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 mb-3" id="over" *ngFor="let category of categories">
        <a href="#posts">
          <img
            [src]="this.basePath + image"
            class="img-fluid defImg"
            alt=""
            (click)="getPosts(category._id)"
          />
        </a>

        <div class="centered">
          <h6 class="category_name">{{ category.title }}</h6>
        </div>
        <div class="centeredPara">
          <p class="category_descrription">{{ category.description }}</p>
        </div>
      </div>
    </div>
  </div>
</section> -->
