<app-category (categoryPosts)="listener($event)"></app-category>
<section id="posts">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center mb-5 mt-5">
        <h3>Most Recent Posts</h3>
        <hr class="hori" />
      </div>
    </div>
    <div class="row">
      <div
        class="col-md-6 col-sm-12 col-lg-4 col-xl-3 mb-3"
        *ngFor="let post of recent"
      >
        <div
          class="card shadow"
          [routerLink]="['/blog', post.category._id]"
          style="width:auto;"
        >
          <img [src]="post.featured_image[0]" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <div class="badge badge-primary p-1">{{ post.category.title }}</div>
            <p class="card-text">
              {{ post.content | slice: 0:130 }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
