<body>
  <div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
      <div class="sidebar-header mt-4">
        <!-- <h4>{{ title.category.title }}</h4> -->
      </div>

      <ul
        class="list-unstyled components"
        *ngFor="let title of blogPosts; let num = index"
      >
        <li>
          <a (click)="getBlogPostDetails(title)"
            >{{ num + 1 }}. {{ title.title }}</a
          >
        </li>
      </ul>
    </nav>

    <!-- Page Content  -->
    <div id="content">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <button
            type="button"
            id="sidebarCollapse"
            class="btn text-light"
            style="background-color: #14233b;"
          >
            <!-- <i class="fas fa-align-left"></i> -->
            <i class="mdi mdi-reorder-horizontal"></i>
          </button>
        </div>
      </nav>
      <div *ngIf="viewPost" class="card p-4">
        <img
          [src]="postDetails.featured_image[0]"
          class="responsive mb-4"
          alt=""
        />
        <h3>{{ postDetails.title }}</h3>
        <small>{{ postDetails.dateCreated | date }}</small>
        <p [innerHTML]="postDetails.content" class="para"></p>
      </div>
    </div>
  </div>
</body>
